@use '../../styles/variables.scss' as *;
@use '../../styles/forms.scss' as *;
@use '../../styles/containers.scss' as *;

.register-container {
  @extend .form-container;
  margin-top: calc($nav-height + $spacing-2xl);

  h1 {
    margin-top: 0;
  }

  .error-message {
    color: $error-color;
  }

  form {
    .form-group {
      margin-bottom: $spacing-md;
    }

    button {
      @extend .form-button;
    }
  }
}
